In [11]:
import requests
import re
from sys import argv
import shutil
import pandas as pd

In [7]:
uni_prot_url = 'http://www.uniprot.org/uniprot/'
uni_prot_id = 'P37231'
exp=re.compile(r'href="http://www.ebi.ac.uk/pdbsum/(\w+)')
pdb_url = r'https://files.rcsb.org/download/'

In [10]:
url=uni_prot_url + uni_prot_id

In [28]:
data=pd.read_html(url)

,0,1,2,3,4,5,6
0,Select the link destinations:iiiLinks Updated,PDB entry,Method,Resolution (Å),Chain,Positions,PDBsum
1,Select the link destinations:iiiLinks Updated,1FM6,X-ray,2.10,D/X,234-505,[»]
2,Select the link destinations:iiiLinks Updated,1FM9,X-ray,2.10,D,234-505,[»]
3,Select the link destinations:iiiLinks Updated,1I7I,X-ray,2.35,A/B,225-505,[»]
4,Select the link destinations:iiiLinks Updated,1K74,X-ray,2.30,D,234-505,[»]

In [29]:
data[44][1]

0      PDB entry
1           1FM6
2           1FM9
3           1I7I
4           1K74
         ...
224         6TSG
225         6Y3U
226       P37231
227    Search...
228    Search...
Name: 1, Length: 229, dtype: object